<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <!--<script src="http://requirejs.org/docs/release/2.3.5/minified/require.js"></script>-->
    <script src="deps/react/umd/react.development.js"></script>
    <script src="deps/react-dom/umd/react-dom.development.js"></script>
    <!--<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>-->
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript">

      'use strict';
      ReactDOM.render(
        React.createElement(hello, null, null),
        document.getElementById('root')
      );

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      To set up a production-ready React build environment, follow these instructions:
      * https://reactjs.org/docs/add-react-to-a-new-app.html
      * https://reactjs.org/docs/add-react-to-an-existing-app.html

      You can also use React without JSX, in which case you can remove Babel:
      * https://reactjs.org/docs/react-without-jsx.html
      * https://reactjs.org/docs/cdn-links.html
    -->
  </body>
</html>

